html *
{
    font-family: 'Nunito', sans-serif;
    background-color: #E8E8E9;
    text-align: center;
    color: #E01A4F;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #999;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #F9C22E;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}
p {
    font-size: 1.1em;
    line-height: 1.2em;
}
footer {

    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
