<!DOCTYPE html>
<html>
<style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
</style>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:jessica.dai@brown.edu" target="_blank">email</a></li>
                <li><a href="https://www.linkedin.com/in/jessica-dai/" target="_blank">linkedin</a></li>
                <li><a href="https://twitter.com/jessicadai_" target="_blank">twitter</a></li>
                <li><a href="https://www.goodreads.com/review/list/70969381-jessica-dai" target="blank">goodreads</a></li>
            </ul>
        </footer>
    </body>
</html>
